<!DOCTYPE html>
<html lang="en">
<title>
    {% block title %}{% endblock %} - Fencegate
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav class="nav">
    <h1>Fencegate</h1>
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('main_page') }}">Log Out</a>
                {% else %}
            <li><a href="{{ url_for('main_page') }}">Register</a>
            <li><a href="{{ url_for('main_page') }}">Log In</a>
        {% endif %}
    </ul>
</nav>
<body class="wrap">
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
</html>